/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff;
    color: white;
    padding: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 50px;
}

#modo-escuro {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

nav {
    background: #0056b3;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
    color: white;
    cursor: pointer;
}

main {
    padding: 20px;
    text-align: center;
}

#filtro {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

#tabela-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.dark-mode {
    background-color: #1a1a1a;
    color: white;
}

.dark-mode header {
    background-color: #333;
}

.dark-mode nav {
    background: #444;
}

.dark-mode #tabela-container {
    background: #222;
    color: white;
}
